body{
    margin: 0%;
    font-family:"Arial, Helvetica",
    Helvetica,sans-serif;
    font-size: 17px;
    color: #926239;
    line-height:1.6;
}
#showcase{
    background-image:url(../images/gala.jpeg);
    height:120vh;
    width:170vh;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: brown;
    text-align: center;
  }
  
  p {
    color: brown;
    text-align: center;
  }
  
  
    